<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>CV</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<footer>
    Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do realizacji procesu rekrutacji<br>(zgodnie z Ustawą z dnia 29.08.1997 roku o&nbsp;Ochronie Danych Osobowych; tekst jednolity: Dz. U. 2016 r. poz. 922).
    <!--for Cognifide-->
    <!--Wyrażam zgodę na przetwarzanie moich danych osobowych zawartych w mojej ofercie pracy dla potrzeb niezbędnych do realizacji procesu rekrutacji teraz i w przyszłości (zgodnie z Ustawą z dnia 29.08.1997 roku o Ochronie Danych Osobowych; tekst jednolity: Dz. U. z 2002r. Nr 101, poz. 926 ze zm.)-->
</footer>
</body>
</html>